<div class="margin">
	{{#equals lang 'en'}}
		<p>
			My name is Daniel Esteban Nombela,<br>
			I'm an <strong>analyst/programmer</strong> and I'm <strong>28 years old</strong>.
		</p>
		<p>
			I've accumulated <strong>10+ years of experience</strong> on the sector, developing with diverse technologies and under several methodologies, both in private enterprise and freelance consulting.
		</p>
	{{/equals}}
	{{#equals lang 'es'}}
		<p>
			Mi nombre es Daniel Esteban Nombela,<br>
			soy <strong>analista/programador</strong> y tengo <strong>28 años</strong>.
		</p>
		<p>
			Cuento con <strong>10+ años de experiencia</strong> en el sector, desarrollando con diversas tecnologías y bajo múltiples metodologías, tanto en empresa privada, como en consultoría freelance.
		</p>
	{{/equals}}
	{{line 33}}
	<p>
		<span class="arrow"><b></b></span>
		{{a 'projects' '/projects' 'btn mr'}}{{a 'hireMe' '/hiring' 'btn'}}
	</p>
	<p class="mt">
		{{L 'checkOutProjects'}}
	</p>
</div>
